:root {
  --basewhite-ffffff: rgba(255, 255, 255, 1);
  --primarynavy-blue-051c2c: rgba(5, 28, 44, 1);
  --primaryblue-2251ff: rgba(34, 81, 255, 1);
  --primarylight-blue-0084d1: rgba(0, 132, 209, 1);
}
